doctype html
html
  head
    // Set charset
    meta(charset='utf-8')
    // Title
    title NbCooking - Avis
    // Import css and fonts
    link(rel='stylesheet', href='stylesheets/app.css', media='only screen and (max-device-width: 768px)', type='text/css')
    link(rel='stylesheet', href='stylesheets/app_web.css', media='only screen and (min-device-width: 768px)', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')
    // Import jQuery and javascript
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='javascripts/app.js')
  body
    header
      img(src='images/logo.png', alt='NbCookingLogo')
      a(href='index.html') NbCooking
    .preview(style='background-image: url(images/offer1.jpg);')
    br
    br
    .results
      a.offer(href='#', style='background-image: url(images/offer1.jpg);')
        p.description Lasagnes boeuf tomates.
      div(style='width: auto; height: auto; float: left; margin-top: 10px;')
        br
        h3  Notation :
        img(src='images/star.jpg', width='30px', height='30px')
        img(src='images/star.jpg', width='30px', height='30px')
        img(src='images/star.jpg', width='30px', height='30px')
      div(style='float: left; margin-left: 70px; margin-top: 25px;')
        h3
          p Tout les Commentaires : 
        br
        p
          | Ben:   Trop dégeulasse !  
          br
          |       Graham: Oh shit men !
        br
        p  Commentaire: 
        textarea(name='textarea', rows='5', cols='30', placeholder='Entrez votre commentaire')
        br
        input(type='submit', name='poster', value='Poster')
    .clear
    footer
      .browse
        h3 BROWSE:
        a(href='/') Accueil
        a(href='search.html') Recherche
        a(href='#') Contact
        a(href='#') Inscription
        a(href='#') Connexion
        a(href='#') Mon compte
      p.copyright Copyright © 2016 NbCooking. All rights reserved.
