extends ../layout

block content
	.preview
	form(action='/subscribe' method='post')
		h1 Inscription
			input(type='text', name='firstName', placeholder=' Prénom', required='required')
			input(type='text', name='lastName', placeholder=' Nom', required='required')
			input(type='text', name='age', placeholder=' Âge', required='required')
			input(type='text', name='address', placeholder=' Adresse (ex : 17 avenue Victor Hugo, Paris)', required='required')
			input(type='text', name='phone', placeholder=' Numéro de téléphone', required='required')
			input(type='text', name='email', placeholder=' Adresse E-mail', required='required')
			input(type='password', name='password', placeholder=' Mot de passe', required='required')
			input(type='password', name='passwordConfirmation', placeholder=' Confirmer votre mot de passe', required='required')
			button(type='submit') S'inscrire