extends ../layout

block content
    form(action='/', method='POST')
                  pre

                       input(type='text',id="Address", name='addr')
                       br
                       br
                       input(type='submit', value='Send!')