extends ../layout

block content
	.firstview
		form(action='/', method='post')
			.search
				input(type='text', placeholder='Entrez votre adresse...',name='address')
				button(type='submit') Faites votre choix
		#gonext
			img(src='/images/arrow.png')
	.secondview
		.boxes
			.box
				.title Prix
				img(src='/images/i_price.png')
				.description
					| Bien manger a bas prix c'est maintenant possible
			.box
				.title Proximité
				img(src='/images/i_distance.png')
				.description
					| Un chef se cache peut être dans votre immeuble!
			.box
				.title Géolocalisation
				img(src='/images/i_geolocalisation.png')
				.description
					| Tous les meilleurs plats sélectionné dans votre quartier
			.box
				.title Contact
				img(src='/images/i_human.png')
				.description
					| Tissez des liens avec vos voisins !
			.box
				.title Filtres
				img(src='/images/i_filter.png')
				.description
					| Vous avez des préférences culinaires ? 
			.box
				.title Horaires
				img(src='/images/i_time.png')
				.description
					| Pas le temps de cuisiner ? 
			.clear
