doctype html
html
  head
    // Set charset
    meta(charset='utf-8')
    // Title
    title NbCooking - Résultats
    // Import css and fonts
    link(rel='stylesheet', href='stylesheets/app.css', media='only screen and (max-device-width: 768px)', type='text/css')
    link(rel='stylesheet', href='stylesheets/app_web.css', media='only screen and (min-device-width: 768px)', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')
    // Import jQuery and javascript
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='javascripts/app.js')
  body
    header
      img(src='images/logo.png', alt='NbCookingLogo')
      a(href='index.html') NbCooking
    .preview(style='background-image: url(images/offer1.jpg);')
    .results_bar
      .title Résultats près de chez vous
    .results
        - var i = 0
        while i < nbDest
            a.offer(href='/offer/#{data[i]._id}', style='background-image: url(images/offer4.jpg);')
                p.description #{data[i].title}
                .price_bar
                  .price #{data[i].price}
                  .currency
                    img(src='images/i_price_w.png')
                  .clear
                .clear
            if i++
    .clear
    footer
      .browse
        a(href='/') Accueil
        a(href='/') Contact
        a(href='/subscribe') Inscription
        a(href='/login') Connexion
        a(href='/profile') Mon compte
        a(href='/offer') Ajouter une offre
        a(href='/offers') Toutes les offres
      p.copyright Copyright © 2016 NbCooking. All rights reserved.